/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/
@import url("bootstrap.min.css");
@import url("css/all.min.css");

:root {
    --secondary-light: rgba(108, 117, 125, 0.22);
}

a.nav-link.m-active {
    background-color: var(--primary);
}

.m-shadow-primary {
    box-shadow: 0 19px 38px rgba(0, 123, 255, 0.3), 0 15px 12px rgba(0, 123, 255, 0.22);
}

.m-shadow-dark {
    box-shadow: 0 19px 38px rgba(52, 58, 64, 0.3), 0 15px 12px rgba(52, 58, 64, 0.22);
}

.m-shadow-secondary {
    box-shadow: 0 19px 38px rgba(108, 117, 125, 0.3), 0 15px 12px rgba(108, 117, 125, 0.22);
}

.m-shadow-success {
    box-shadow: 0 19px 38px rgba(40, 167, 69, 0.3), 0 15px 12px rgba(40, 167, 69, 0.22);
}

.m-shadow-danger {
    box-shadow: 0 19px 38px rgba(220, 53, 69, 0.3), 0 15px 12px rgba(220, 53, 69, 0.22);
}

.m-shadow-warning {
    box-shadow: 0 19px 38px rgba(255, 193, 7, 0.3), 0 15px 12px rgba(255, 193, 7, 0.22);
}

.m-shadow-info {
    box-shadow: 0 19px 38px rgba(23, 162, 184, 0.3), 0 15px 12px rgba(23, 162, 184, 0.22);
}

.m-shadow-light {
    box-shadow: 0 19px 38px rgba(248, 249, 250, 0.3), 0 15px 12px rgba(248, 249, 250, 0.22);
}

a.m-nav-link {
    color: var(--dark);
}

    a.m-nav-link.m-active {
        color: var(--light);
    }

.m-nav-link:hover {
    background-color: var(--light);
    transition: 0.5s ease;
}

.m-divider {
    height: 2px;
}

.m-divider-primary {
    background: var(--primary);
}

.m-divider-secondary {
    background: var(--secondary);
}

.m-divider-success {
    background: var(--success);
}

.m-divider-danger {
    background: var(--danger);
}

.m-divider-warning {
    background: var(--warning);
}

.m-divider-info {
    background: var(--info);
}

.m-divider-light {
    background: var(--light);
}

.m-divider-dark {
    background: var(--dark);
}

.m-chip {
    cursor: default;
}

.m-table {
    border: 0;
}

    .m-table > thead > tr > th{
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid var(--secondary-light);
        color: var(--primary);
    }

    .m-table > tbody > tr > td {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid var(--secondary-light);
        color: var(--primary);
    }

        .m-table > tbody > tr > td:first-child, .m-table > tbody > tr > td:last-child, .m-table > thead > tr > th:first-child, .m-table > thead > tr > th:last-child {
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
        }

        .m-table > tbody > tr > td:first-child {
            border-top: 0;
            border-right: 0;
            border-left: 2px solid transparent;
            border-bottom: 0;
        }

    .m-table > tbody > tr:hover > td:first-child {
        border-left: 2px solid var(--primary);
    }

    .m-table > tbody > tr:hover {
        background-color: var(--light);
    }

    .m-table > tfoot > tr > th {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
        color: var(--primary);
    }
